// .benefits-section{
//     margin-bottom: 130px;
// }
.benefits{
    display: flex;
    justify-content: center;
    // justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.benefits{
    text-align: center;
    // margin-right: 60px;
    // margin-right: 3.75rem;
    &:last-child{
        margin-right: 0;
    }
}

.benefits__description{
    // width: 248px;
    width: 15.5rem;
    font-family: Play;
    font-style: normal;
    font-weight: normal;
    // font-size: 16px;
    font-size: 1rem;
    // line-height: 19px;
    line-height: 1.1875rem;
    text-align: center;
    color: $grey;
    // margin-top: 7px;
    margin-top: 0.4375rem;
    margin: 0 auto;
}

.benefits__title{
    font-family: Play;
    font-style: normal;
    font-weight: bold;
    // font-size: 24px;
    font-size: 1.5rem;
    // line-height: 28px;
    line-height: 1.75rem;
    text-align: center;
    color: $black;
    // margin-top: 45px;
    margin-top: 3rem;
}

.benefits__item{
    // width: 275px;
    width: 17.1875rem;
    // margin-bottom: 2rem;
    // margin-bottom: 5.625rem;
    margin-bottom: 1rem;
    
    // &:first-child{
    //     margin-right: 4.0625rem;
    //     // margin-right: 2.03rem;
    // }

    // &:last-child{
    //     margin-left: 3.4375rem;
    // }
}

.benefits__img{
    height: 4.5rem;
}

.benefits-section{
    background: url('/img/icon/Triangle-red.svg') left 10% top 100% no-repeat;
}