.burger-menu{
    display: none;
    width: 45px;
    height: 45px;
    background-color: transparent;
    outline: none;
    border: none;
}

.burger-menu__decoration{
    display: block;
    width: 100%;
    height: 6px;
    background: $red;
    border-radius: 10px;
}

.burger-menu__space{
    margin-bottom: 5px;
}