.red-polygon{
    position: absolute;
    width: 50.63px;
    height: 50.63px;
    right: 10%;
    top: -3.3%;
    background: transparent;
}

.red-polygon1{
    position: absolute;
    width: 50.63px;
    height: 50.63px;
    right: 10%;
    bottom: -603%;
    background: transparent;
}
