.delivery{
    background-image: url(/img/pic/delivery-bg.png);
    // min-height: 100vh;
    // height: auto;
    height: 100vh;
    background-position: center center;    
    background-repeat: no-repeat;    
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
}

.delivery__headline {
    // margin-bottom: 60px;
    margin-bottom: 3.75rem;
    // padding-top: 68px;
    padding-top: 4.25rem;
    h2{
        font-family: Play;
        font-style: normal;
        font-weight: bold;
        // font-size: 48px;
        font-size: 3rem;
        // line-height: 52px;
        line-height: 3.25rem;
        color: $white;
        text-align: center;
        text-transform: uppercase;
    }
    z-index: 10;
}
    

