.mainpage{
    background: url('/img/pic/headset-beats.png') left 70% top 32% no-repeat;
    background-color: $white;
    margin: 0 auto;
    min-height: 100vh;
    height: auto;
    align-items: flex-start;
    // min-height: 100vh;
    // &::before{
    //     content:'';
    //     background: url('/img/pic/headset-beats.png') left 70% top 64% no-repeat;
    //     width: 500px;
    //     height: 500px;
    //     position: absolute;
    // }
}

.mainpage__container{
    display: flex;
    flex-direction: column;
}

.mainpage__icons{
    margin-top: 70.15px;
    // margin-top: 4.384375rem;
}

.mainpage__main-title{
    // width: 400px;
    width: 25rem;
    font-family: Play;
    font-style: normal;
    font-weight: bold;
    // font-size: 48px;
    font-size: 3rem;
    // line-height: 52px;
    line-height: 3.25rem;
    text-transform: uppercase;
    color: $black;
}

.mainpage__title-description{
    // width: 318px;
    width: 19.875rem;
    font-family: Alegreya Sans;
    font-style: normal;
    font-weight: normal;
    // font-size: 21px;
    font-size: 1.3125rem;
    // line-height: 25px;
    line-height: 1.5625rem;
    color: $black;
    margin-top: -10px;
    // margin-top: -0.625rem;
    margin-bottom: 36px;
    // margin-bottom: 2.25rem;
}

.mainpage__title{
    margin-top: 94px;
    // position: absolute;
    // margin-top: 5.875rem;
}
