.radio{
    display: flex;
    cursor: pointer;
    user-select: none;

    &-checkbox{
        .radio__visible{
            border-radius: 4px;
            &::before{
                background: url(/img/icon/checkbox.svg) center no-repeat;
            }
        }
    }
}

.radio__elem{
    display: none;
    &:checked ~ .radio__visible{ 
        &::before{
            display: block;
        }
    }
}

.radio__visible{
    // width: 25px;
    width: 1.5625rem;
    // height: 25px;
    height: 1.5625rem;
    position: relative;
    border-radius: 50%;
    background: $white;

    &:before{
        content:'';
        display: none;
        // width: 13px;
        width: 0.8125rem;
        // height: 13px;
        height: 0.8125rem;
        background: $red;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

.radio__title{
    font-family: Play;
    font-style: normal;
    font-weight: normal;
    // font-size: 16px;
    font-size: 1rem;
    // line-height: 19px;
    line-height: 1.1875rem;
    color: $white;
    // margin-left: 10px;
    margin-left: 0.625rem;
    // margin-right: 10px;
    margin-right: 0.625rem;
    // padding-top: 3px;
    padding-top: 0.1875rem;

}